@import "../../styles/colors"; 

// .test{
//     // opacity: 1;
//     background-color: red;
// }

#landing{
    .mdl-layout__drawer-button{
        display:none;
        z-index: 10;
    }
    .popup-button {
        position: fixed;
        top: 100px;
    }
    #landing1{
        // background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 10%, rgba(255, 255, 255, 0.2)40%,transparent 70%), url("/tst_img/beachSepia.jpg");
        // background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 10%, rgba(255, 255, 255, 0.2)40%,transparent 70%), url("/img/background_sepia_cropped.jpg");
        // background: linear-gradient(180deg, rgba(91, 80, 90, 0.3) 10%, rgba(91, 80, 90, 1)60%);
        // background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 8%, rgba(255, 255, 255, 0.2)5%,transparent 70%), url("/img/rafting.jpg");
        // background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 4%, rgba(0, 0, 0, 0.2)6%, rgba(0, 0, 0, 0.1) 8%, transparent 10%), url("/img/rafting_bright.jpg");
        // background: linear-gradient(120deg, rgba(0,0,0, 0.5) 40%, rgba(0,0,0, 0.3) 45%, transparent 48%), url("/img/rafting.jpg");
        // opacity: 0.9;
        background: linear-gradient(120deg, rgba(0,0,0, 0.2) 40%, rgba(0,0,0, 0) 48%), url("/img/rafting_bright_low_res.jpg");
        // background: linear-gradient(120deg, rgba(0,0,0, 0.3) 40%,rgba(0,0,0, 0.2) 44%, rgba(0,0,0, 0.1) 48%), url("/img/rafting_bright.jpg");
        background-size: cover;
        height: 105vh;
        width: 100%;
        .mission{
            z-index: 1;
            position:absolute;
            // left:230px;
            left:15%;
            // top:80px;
            top:10%;
            color:white;
            font-family: 'Cormorant Garamond', serif;
            h2{
                font-family: 'Cormorant Garamond';
                font-weight: 300;
                font-size: 50px;
                margin-bottom: 0px;
            }
            h3{
                font-family: 'Cormorant Garamond', serif;
                font-size: 40px;
                margin-top:0px;
                margin-left:40px;
            }
        }

        .start-here{
            display: none;
            position: absolute;
            bottom: 10px;
            left: 1%;
            text-align: center;
            padding: .6em;
            padding-top: 0px;
            padding-bottom: 0px;
            // border: 1px solid #666;
            // border-radius: 25px;
            // background-color: #0113109e;
            h3{
                font-size:18px;
                font-weight: 500;
                color:white;
                margin-bottom:0px;
                margin-top:10px;
                .fas .fa-hiking{
                    color:white;
                }
            }
            a{
                :hover{
                    color:#777;
                    background-color: white;
                    border:none;
                }
                button{
                    color:white;
                    position: absolute;
                    bottom: 90%;
                    right: 20%;
                    background: $alternatePink;
                    box-shadow: 0 2px 2px 0 rgba(0,0,0,.7), 0 3px 1px -2px rgba(0,0,0,.9), 0 1px 5px 0 rgba(0,0,0,.7);
                    box-shadow: none;
                    padding: 23px;
                    line-height: 0px;
                    text-transform: uppercase;
                    font-weight: 100;
                    font-size: 14px;
                }
            }
        }
        .down-arrow{
            position: absolute;
            bottom: 20px;
            left:50%;
            // right: 1%;
            // color: $lightGreen;
            font-size: 30px;
        }
    }
    .newsletter{
        height:12vh;
        width:100%;
        position: relative;
        padding-top:50px;
        // background-color: $darkestGreen;
        // background-color: $cream;
        p{
            // color:black;
            color:$darkestGreen;
            // color:white;
            // letter-spacing: 1.5px;
            // font-size: 14px;
            // font-weight: 100;
            float: left;
            font-size: 12px;
            text-transform: uppercase;
            width: 33%;
            letter-spacing: 2.5px;
            text-align: right;
            margin: 8px 25px 0 0;
            font-family: 'Montserrat', sans-serif;
            -webkit-font-smoothing: subpixel-antialiased;
        }
        form{
            input{
                float: left;
                margin-bottom: 0;
                margin-left: 1.25%;
                width: 17%;
                padding: 10px;
                font-size: 12px;
                font-weight: normal;
                border: 1px solid $darkestGreen;
                background-color: rgba(176, 204, 199, 0);
                // background-color: white;
            }
            input[type="text"]{
                color:$darkestGreen;
            }
            input[type="submit"]{
                // background: #222;
                background: $darkestGreen;
                // background: $lightGreen;
                color: #fff;
                width:7%;
                border: 1px solid #777;
            }
            input[type="submit"]:hover{
                // background: #fff;
                background: $lightestGreen;
                // color: #777;
                color: $darkestGreen;
                // border: 1px solid #777;
                border: 1px solid $darkestGreen;
                cursor: pointer;
            }
        }
    }
    .landing2-map{
        height:110vh;
    }
    .landing3-photo-diary{
        height:100vh;
        position: relative;
    }
    .landing4-blog{
        height:100vh;
        position: relative;
    }

    .stone-paper-link{
        position: relative;
        height:30vh;
        background-color: $darkestGreen;
        p{
            color:white;
            font-size: 30px;
            padding-bottom:5px;
            padding-top: 60px;
        }
        a{
            button{
                left: 50%;
                top: 50%;
                transform: translate(-50%);
                background:$alternatePink;
                box-shadow: 0 2px 2px 0 rgba(0,0,0,.7), 0 3px 1px -2px rgba(0,0,0,.9), 0 1px 5px 0 rgba(0,0,0,.7);
                margin-top:20px;
            }
            :hover{
                color:#cdcdcd;
            }
        }
    }

    // .section-divider1{
    //     hr{
    //         border-top: .7px solid $darkGreen;
    //         margin-top: 4px;
    //         margin-bottom: 4px;
    //     }
    // }
    .section-divider{
        height: 6px;
        background-color: $darkestGreen;
    }
}






// PHONE plus: 0-767
@media (max-width: 767px) {
// @media (min-width:414px) and (max-width: 768px){
    #landing{ 
        overflow-x: hidden;
        #landing1{
            .mission{
                position: absolute;
                left: 15px;
                // top: 12%;
                margin: auto;
                // h2{
                //     font-size: 40px;
                // }
                // h3{
                //     font-size: 30px;
                // }
            }
            .start-here{
                top: 270px;
                // p{
                // font-size: 25px;
                // font-weight: 500;
                    // }
                a{
                    :hover{
                        color:#cdcdcd;
                    }
                    button{
                        position: absolute;
                        top: 90%;
                        right: 7%;
                        font-size: 14px;
                    }
                }
            }
            .down-arrow{
                position: absolute;
                // top: 93%;
                bottom: 17px;
                left:90%;
            }
        }
        .newsletter{
            margin-top: 0px;
            padding-top: 10px;
            height: 30vh;
            padding-bottom: 10px;
            p{
                position: relative;
                text-align: center;
                border: 0;
                padding: 5px;
                float: none;
                width: 100%;
            }
            form{
                margin-top: 0px;
                margin-right:1%;
                margin-left:2%;
                padding-left: 20px;
                padding-top: 0px;
                padding-right: 20px;
                input{
                width: 90%;
                margin-bottom: 15px;
                margin-top: 5px;
                }
                input[type="submit"]{
                    width: 96%;
                    padding: 10px;
                }
                input[type="submit"]:hover{
                    background: #fff;
                    color: #777;
                    border: 1px solid #777;
                    cursor: pointer;
                }
            }
        }
        .stone-paper-link{
            height: 40vh;
            p{
                color:white;
                font-size: 20px;
                // padding-bottom:5px;
                padding-top: 80px;
            }
            a{
                button{
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%);
                    background:$alternatePink;
                    box-shadow: 0 2px 2px 0 rgba(0,0,0,.7), 0 3px 1px -2px rgba(0,0,0,.9), 0 1px 5px 0 rgba(0,0,0,.7);
                    margin-top:0px;
                }
            }
        }
    }
}

// iPhone 6/7/8
@media (min-width:321px) and (max-width: 413px){
    #landing{ 
        overflow-x: hidden;
        .newsletter{
            p{
                padding: 0px;
                // margin-bottom: 5px;
            }
            form{
                input[type="submit"]{
                    width: 97%;
                }
            }
        }
    }
}

// Pixel 2 & Pixel 2XL
@media (min-width:410px) and (max-width: 412px){
    #landing{ 
        overflow-x: hidden;
        .newsletter{
            margin-bottom: 10px;
            margin-top:20px;
            p{
                padding-bottom: 10px;
            }
            form{
                margin-left:6.5%;
                margin-right:6%;
                margin-top:1%;
                input{
                    width: 90%;
                }
                input[type="submit"]{
                    width: 97%;
                }
            }
        }
    }
}


// iPhone 5: 0-320
@media (max-width: 320px){
    #landing{ 
        overflow-x: hidden;
        .newsletter{
            margin-bottom: 55px;
            margin-top:0px;
            p{
                padding: 0px;
            }
            form{
                margin-left:1%;
                margin-right:1%;
                input[type="submit"]{
                    width: 99%;
                }
            }
        }
    }
}


// iPhone X
@media (min-width:370px) and (max-width: 375px){
    #landing{ 
        overflow-x: hidden;
        .newsletter{
            margin-bottom: 50px;
            margin-top: 20px;
            form{
                margin-left:5%;
                margin-right:5%;
                margin-top: 5%;
                input{
                    margin-top:6%;
                    margin-bottom:0px;
                }
                input[type="submit"]{
                    width: 97%;
                    // margin-top: 2%;
                }
            }
        }
    }
}


// TABLET: 768-1025
@media (min-width: 768px) and (max-width: 1025px) {
    #landing #landing1{ 
        .mission{
            left: 50px;
            top: 143px;
            h2{
                font-size:60px;
            }
            h3{
                font-size: 42px;
                line-height: 62px;
                padding-left: 10px;
            }
        }
        .newsletter{
            margin-bottom: 0px;
            padding-bottom: 0px;
            form{
                margin-left:5%;
                margin-right:5%;
                margin-top: 5%;
                input{
                    margin-top:5%;
                    margin-bottom:0px;
                }
                input[type="submit"]{
                    width: 97%;
                    // margin-top: 2%;
                }
            }
        }
        .start-here{
            top: 370px;
            a{
                :hover{
                    color:#cdcdcd;
                }
                button{
                    position: absolute;
                    top: 99%;
                    right: 20%;
                    font-size: 14px;
                }
            }
        }
        .stone-paper-link{
            bottom:4%;
        }
    }  
    .footer-links{
        i{
            font-size: 33px;
            padding:25px;
            padding-bottom: 15px;
        }
    }  
}

// TABLET LANDSCAPE / SMALL NOTEBOOKS: 1025: 1376
@media (min-width: 1026px) and (max-width: 1376px) {
}
 