@import "../../styles/colors";

#landing{
    .mdl-layout__drawer-button{
        display:none;
    }
    #landing1{
        // background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 10%, rgba(255, 255, 255, 0.2)40%,transparent 70%), url("/tst_img/beachSepia.jpg");
        // background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 10%, rgba(255, 255, 255, 0.2)40%,transparent 70%), url("/img/background_sepia_cropped.jpg");
        // background: linear-gradient(180deg, rgba(91, 80, 90, 0.3) 10%, rgba(91, 80, 90, 1)60%);
        // background: url("/img/rafting.jpg");
        // background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 8%, rgba(255, 255, 255, 0.2)5%,transparent 70%), url("/img/rafting.jpg");
        background: url("/img/rafting.jpg");
        background-size: cover;
        height: 100vh;
        width: 100%;
        .mission{
            z-index: 1;
            position:absolute;
            // left:230px;
            left:15%;
            // top:80px;
            top:10%;
            color:white;
            font-family: 'Cormorant Garamond', serif;
            h2{
                font-family: 'Cormorant Garamond';
                font-weight: 300;
                font-size: 50px;
                margin-bottom: 0px;
            }
            h3{
                font-family: 'Cormorant Garamond', serif;
                font-size: 40px;
                margin-top:0px;
                margin-left:40px;
            }
        }

        // Decide if want to use below and where it should go on landing page. Link to about page if so
        .start-here{
            position: absolute;
            top: 20%;
            right: 3%;
            text-align: center;
            padding: .6em;
            padding-top: 0px;
            padding-bottom: 0px;
            border: 1px solid #666;
            border-radius: 25px;
            background-color: #0113109e;
            h3{
                font-size:.6em;
                color:white;
                margin-bottom:0px;
                margin-top:0px;
            }
            a{
                p{
                    font-size:.9em;
                    line-height: .7em;
                }
                .fas .fa-hiking{
                    color:white;
                }
                :hover{
                    color:#cdcdcd;
                }
            }
        }
        .stone-paper-link{
            position: absolute;
            right:3%;
            // right:220px;
            bottom:1%;
            margin: auto;
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;
            padding: .5em;
            border: 1px solid #333;
            border-radius: 25px;
            background-color: #0113109e;
            a{
                color:white;
                // font-size: 20px;
                font-size: .6em;
                margin-bottom: 0px;
            }
            a:hover{
                color:#cdcdcd;
            }
        }
    }
    .landing2-map{
        height:100vh;
    }
    .landing3-photo-diary{
        height:100vh;
    }
}


// PHONE: 0-768 
@media (max-width: 768px) {
    #landing{ 
        #landing1{
            .mission{
                position: absolute;
                left: 15px;
                margin: auto;
            }
            .start-here{
                top: 270px;
                p{
                font-size: 25px;
                font-weight: 500;
                }
            }
            .stone-paper-link{
                bottom:8%;
            }
        }
    }
}

// TABLET: 769-1024
@media (min-width: 769px) and (max-width: 1024px) {
    #landing #landing1{ 
        .mission{
            left: 185px;
            top: 143px;
            h2{
                font-size:60px;
            }
            h3{
                font-size: 42px;
                line-height: 62px;
                padding-left: 19px;
            }
        }
        .start-here{
            top: 320px;
            p{
                font-size:33px;
            }    
        }
        .stone-paper-link{
            bottom:4%;
        }
    }  
    .footer-links{
        i{
            font-size: 33px;
            padding:25px;
            padding-bottom: 15px;
        }
    }  
}

// TABLET LANDSCAPE / SMALL NOTEBOOKS: 1025: 1376
@media (min-width: 1025px) and (max-width: 1376px) {

}
