#search-results{
    position: absolute;
    width: 100%;
    .posts{
        $padding: 30px;
        padding-left: $padding;
        padding-right: $padding;
        padding-top: 70px;
        .post-container{
            width: calc(25% - 60px);
            margin-left: $padding;
            margin-right: $padding;
            display: inline-block;
            vertical-align: top;
            .post-image{
                width: 100%;
                padding-top: 150%;
                display: block;
                background-size: cover;
            }
            .post-title{
                margin-top:20px;
                display: block;
                height: 60px;
            }
        }
    }
}
    