@import "../../styles/colors";

#photo-diary-list{ 
    // background-color: #222;
    background: linear-gradient(180deg, rgba(5, 30, 28, .8) 5%, rgba(5, 30, 28, 1) 50%);
    width:100%;
    // height: 350vh;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;

    .photo-diary-summary{
        position: absolute;
        // overflow-x: scroll;
        // top:5%;
        left:50%;
        transform: translate(-50%);
        padding-bottom: 40px;
        h1{
            color: rgb(176, 204, 199);
            font-size: 66px;
            margin-bottom: 0px;
        }
        p{
            display: block;
            margin-top: 0px;
        }
    }
    .posts{ 
        position: relative;
        padding-top: 17%;
        height: 65vh;
        $padding: 60px;
        display: flex; 
        flex-direction: row;
        overflow-y: hidden;
        width: 430%;


        .post-container{
            // display: flex;
            // flex-direction: row;
            // overflow-y: hidden;
            // width: 95%;
            // padding-top: 17%;
            width: 100%;
            position: relative;
            left: 1%;
            padding-right: .3%;
            padding-left: .3%;
            vertical-align: top;
            margin-bottom: 30px;
            // background-size: cover;
          
            .post-image{
                width: 90%;
                padding-top: 55%;
                display: block;
                background-size: cover;
            }
            .cover-title{
                color: white;
                padding-top:20px;
                display: inline-block;
                // height: 60px;
                font-family: 'Playfair Display', serif;
                font-weight: normal;
                font-size: 1.9rem;
                line-height: 2.2rem;
                margin: .3em 0.4em 0em;
                vertical-align: middle;
            }
            hr{
                background-color: $lightGreen;
                font-size: 20px;
                height: 1px;
                width: 15%;
                margin: 0em 0.5em 0em;
                margin-bottom: 40px;
                margin-top: 20px;
            }
        }
    }
}

// PHONE up to plus: 0-767
@media (max-width: 767px) {
    #photo-diary-list{ 
        // overflow-x: hidden;
        .photo-diary-summary{
            top: 5%;
            width: 120%;
            h1{
                
                font-size: 42px;
                line-height: 62px;
                text-align: center;
            }
            p{
                font-size: 16px;
                line-height: 26px;
            }
        }
        .posts{
            height: 90vh;
            // this width will be a problem when new posts are published...
            width: 830%;
            .post-container{
                top: 40%;
                .post-image{
                }
                .cover-title{
                    padding-top: 10px;
                    font-size: 14px;
                }
                hr{
                    width: 15%;
                }
            }
        }
    }
}