@import "../../styles/colors";

#photo-diary-list{ 
    // background-color: #222;
    background: linear-gradient(180deg, rgba(5, 30, 28, .8) 5%, rgba(5, 30, 28, 1) 50%);
    width:100%;
    // height: 350vh;
    background-size: cover;
    overflow-y: hidden;

    .photo-diary-summary{
        position: relative;
        // top:5%;
        left:50%;
        transform: translate(-50%);
        padding-bottom: 40px;
        h1{
            color: rgb(176, 204, 199);
            font-size: 66px;
            margin-bottom: 0px;
        }
        p{
            display: block;
            margin-top: 0px;
        }
    }
    .posts{
        position: relative;
        // top:35%;
        $padding: 60px;
        .post-container{
            // width: calc(33.333% - 120px);
            width: calc(50% - 120px);
            // height:
            margin-left: $padding;
            margin-right: $padding;
            display: inline-block;
            vertical-align: top;
            margin-bottom: 30px;
            .post-image{
                width: 100%;
                padding-top: 65%;
                display: block;
                background-size: cover;
            }
            .cover-title{
                color: white;
                padding-top:20px;
                display: inline-block;
                // height: 60px;
                font-family: 'Playfair Display', serif;
                font-weight: normal;
                font-size: 1.9rem;
                line-height: 2.2rem;
                margin: .3em 0.4em 0em;
                vertical-align: middle;
            }
            hr{
                background-color: $lightGreen;
                font-size: 20px;
                height: 1px;
                width: 15%;
                margin: 0em 0.5em 0em;
                margin-bottom: 40px;
                margin-top: 20px;
            }
        }
    }
}

// PHONE up to plus: 0-767
@media (max-width: 767px) {
    #photo-diary-list{ 
        overflow-x: hidden;
        .posts{
            .post-container{
                width: 90%;
                margin-left: 20px;
                margin-right: 20px;
                margin-bottom: 10px;
                .post-image{
                }
                .cover-title{
                    padding-top:10px;
                    font-size: 20px;
                }
                hr{
                    width: 15%;
                }
            }
        }
    }
}