@import "../../styles/colors";

// Need to fix the nav bar colors so that can change between green and black and white for different pages
body .mdl-layout .mdl-layout__inner-container{
    .mdl-layout__drawer-button i{
        color:black;
    } 
    .mdl-layout__header .header-title{
        color:black;
    }
}
#photo-diary-detail-page {
    height: 100vh;
    background: #666;
    #photo-diary-detail {
        h3{
            margin:50px; 
            color:black; 
            padding:30px;
        }
        p{
            margin:50px;
            color:black;
            padding:30px;
        }
        .cover-page{
            $wid: 68;
            $ar: 2/3;
            $padtop: $ar*$wid/100;
            $left: (100 - $wid)/2/100; 
            $borderWidth: 17px;
            border: 17px solid black;
            border-radius: 6px;
            width:calc(#{$wid}% - #{$borderWidth});
            height: 0px;
            padding: 0px;
            padding-top: percentage($padtop);
            background-color: black;
            position: absolute;
            bottom: 10px;
            left: percentage($left);
            .cover-photo{
                right: 0px;
                bottom: 0px;
                position: absolute;
                top: 0px;
                left: 0px;
                background-size: cover;
                h1{
                    margin-left: 20px;
                    margin-top: 13px;
                    text-align: left;
                    color: black;
                    font-weight: 300;
                    font-size:50px;
                    // text-decoration: underline;
                }
            }
        }


        .double-page-spread {
            // variables for setting book dimensions
            $borderWidth: 17px;
            $wid: 34;
            $ar: 4/3;
            $padtop: $ar*$wid/100;
            .photo-inner-shadow {
                bottom: 0px;
                position: absolute;
                top: -10px;
                bottom: -10px;
                left: 0px;
                right: -100%;
                background:linear-gradient(90deg, transparent 45%,rgba(0, 0, 0, 0.01) 46%, rgba(0, 0, 0, 0.1) 48%,rgba(0, 0, 0, 0.25) 49.7%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.25) 50.3%, rgba(0, 0, 0, 0.1) 52%, rgba(0,0,0, 0.01) 54%, transparent 55%);
                z-index: 1000;
                // box-shadow: rgba(0,0,0,0.6) 0 1em 3em;
            }
            .photo-outer-shadow {
                bottom: 0px;
                position: absolute;
                top: -17px;
                bottom: -17px;
                left: -10%;
                right: -110%;
                background: linear-gradient(90deg, transparent 0%, rgba(0,0,0,0.05) 1%, rgba(0,0,0,0.3) 4%, transparent 0%, transparent 96%, rgba(0,0,0,0.3) 96%, rgba(0,0,0,0.05) 99%, transparent 100%);
                z-index: 1001;
            }
            .book-page.left-page-key-details{
                z-index: 1;
                left: percentage((50 - $wid)/100);
                transform: translateX(1px);
                border-right: none;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                .photo-page-container:before {
                    border-top-right-radius: 50%;
                    transform: rotate(-3deg);
                }
                .photo-page-container:after {
                    border-bottom-right-radius: 50%;
                    transform: rotate(3deg);
                }
            }
            .book-page.right-page-summary{
                right: percentage((50 - $wid)/100);
                border-left: none;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                .photo-page-container:before {
                    border-top-left-radius: 50%;
                    transform: rotate(3deg);
                    left: 1px;
                }
                .photo-page-container:after {
                    border-bottom-left-radius: 50%;
                    transform: rotate(-3deg);
                    left: 1px;
                }
            }
            .book-page {
                border: $borderWidth solid black;
                border-radius: 6px;
                width:calc(#{$wid}% - #{$borderWidth});
                height: 0px;
                padding: 0px;
                padding-top: percentage($padtop);
                background-color: black;
                position: absolute;
                // top: 50%; 
                // transform: translateY(-50%);
                bottom: 10px;
                background: white;
                .photo-page-container{
                    right: 0px;
                    bottom: 0px;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    background-size: cover;
                    &:before {
                        width: 100%;
                        height: 50px;
                        content: '';
                        display: block;
                        margin-top: 10px;
                        top: -22px;
                        position: absolute;
                        background: white;
                        left: 0px;
                        right: 0px;
                    }
                    &:after {
                        width: 100%;
                        height: 50px;
                        content: '';
                        display: block;
                        margin-bottom: 0px;
                        bottom: -12px;
                        position: absolute;
                        background: white;
                    }
                    .photo {
                        width: calc(100% - 20px);
                        height: calc(100% - 20px);
                        background-size: cover;
                        z-index: 100;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                    .photo.landscape{
                        width: calc(200% - 40px);
                        left: 100%;
                    }
                }

            }
        }
    }

    #photo-diary-detail .double-page-spread.back-page-container {
        .book-page {
            border-right: 8px solid black;
            border-radius: 4px;

        }
        .left-page-key-details .back-page {
            height: calc(100% - 111px);
            h1{
                font-size: 37px;
                padding-left: 55px;
                padding-right: 55px;
                margin-top: 40px;
                margin-bottom:55px; 
                font-weight: 300;
            }
            a:hover{
                opacity:0.85;
            }
            .photo-diary-preview{
                display:block;
                border: 3px solid black;
                height: calc(50% - 92px);
                width:60%;
                margin:auto;
                margin-top:40px;
                background-size: cover;
                opacity:1;
                position: relative;
                h2{
                    font-size: 22px;
                    font-weight: 300;
                    color: black;  
                    background-color: rgba(255,255,255,0.8);
                    text-align: center;
                    position: absolute;
                    bottom: 0;
                    margin:auto;
                    width: 100%;
                    line-height: 37px;
                }
            }
        }
    }

    // FIX so that first section doesn't have bak arrow and last doesn't have forward 
    .fas.fa-chevron-right {
        font-size:70px;
        // text-shadow: 5px 5px 5px black;
        position: fixed;
        right: 6%;
        top: 50%;
        z-index:2;
        &:hover {
            cursor: pointer;
        }
    }
    .fas.fa-chevron-left {   
        font-size:70px;
        // text-shadow: 5px 5px 5px black;
        position: fixed;
        left: 6%;
        top: 50%;
        z-index:2;
        &:hover {
            cursor: pointer;
        } 
    }
}


// PHONE: 0-768 
@media (max-width: 768px) {
    // THIS DOESN"T WORK
    body .mdl-layout .mdl-layout__inner-container{
        .mdl-layout__header-row .header-title {
            display:none;
        }   
    }
    #photo-diary-detail-page #photo-diary-detail .cover-page{
        .cover-photo h1{
            font-size: 34px;
        }
    }
}