#photo-diary-detail {
    h3{
        margin:50px; 
        color:black; 
        padding:30px;
    }
    p{
        margin:50px;
        color:black;
        padding:30px;
    }
    .cover-page{
        $wid: 60;
        $ar: 2/3;
        $padtop: $ar*$wid/100;
        $left: (100 - $wid)/2/100; 
        width:#{$wid}vw;
        height: 0px;
        padding: 0px;
        padding-top: percentage($padtop);
        background-color: black;
        position: absolute;
        left: percentage($left);
        top: 50%; 
        transform: translateY(-50%);
        // box-shadow: rgba(0,0,0,0.5) 0 1em 3em;
        // transform-style: preserve-3d;
        border: 5px solid #666;
    }  

    .photo-page-container{
        h1{
            padding: 40px;
            text-align: center;
            color:white;
        }
    }


    .left-page-key-details{
        $wid: 30;
        $ar: 4/3;
        $padtop: $ar*$wid/100;
        width:#{$wid}vw;
        height: 0px;
        padding: 0px;
        padding-top: percentage($padtop);
        // background-color: black;
        position: absolute;
        left: 20%;
        top: 50%; 
        transform: translateY(-50%);
        // background: linear-gradient(45deg, #ffffff 0%, #e5e5e5 100%);
        // adjust this gradient to suite coverig an image. start with white at 0.3 then move the transparetna dn black
        // 
        background: linear-gradient(to right, #ffffff 0%, #333 95%);
        // transform-style: preserve-3d;
        // transform: translate3d(0px, 0px, 0.02px);
        // padding-left: 40px;
        border: 2px solid #333;
    }
    .right-page-summary{
        $wid: 30;
        $ar: 4/3;
        $padtop: $ar*$wid/100;
        width:#{$wid}vw;
        height: 0px;
        padding: 0px;
        padding-top: percentage($padtop);
        background-color: black;
        position: absolute;
        right: 20%;
        top: 50%; 
        transform: translateY(-50%);
        background: linear-gradient(to left, #ffffff 0%, #333 95%);
        // overflow:hidden;
        border:2px solid #333;
    }
    .left-page-image{
        $wid: 30;
        $ar: 4/3;
        $padtop: $ar*$wid/100;
        width:#{$wid}vw;
        height: 0px;
        padding: 0px;
        padding-top: percentage($padtop);
        background-color: black;
        position: absolute;
        left: 20%;
        top: 50%; 
        transform: translateY(-50%);
    }
    .right-page-image{
        $wid: 30;
        $ar: 4/3;
        $padtop: $ar*$wid/100;
        width:#{$wid}vw;
        height: 0px;
        padding: 0px;
        padding-top: percentage($padtop);
        background-color: black;
        position: absolute;
        right: 20%;
        top: 50%; 
        transform: translateY(-50%);
    }
    .photo-page-container {
        position: absolute;
        top: 0px;
        left: 0px;
    }
}

// FIX so that first section doesn't have bak arrow and last doesn't have forward 
.fas.fa-chevron-right {
    font-size:50px;
    text-shadow: 5px 5px 5px black;
    position: fixed;
    right: 20px;
    top: 50%;
    z-index:2;
    &:hover {
        cursor: pointer;
    }
}
.fas.fa-chevron-left {   
    font-size:50px;
    text-shadow: 5px 5px 5px black;
    position: fixed;
    left: 20px;
    top: 50%;
    z-index:2;
    &:hover {
        cursor: pointer;
    } 
}

