@import "../../styles/colors"; 


.portfolio {
    filter: saturate(1.2);
    background-image: url("/img/Background_Mountains_muted.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    .job-title {
        margin-top: 7%;
        h1{
            font-family: 'Open Sans';
            color: black;
            font-weight: 100;
            font-size: 71px;
            text-align: right;
            margin-bottom: 5px;
            margin-right: 7%;
        }
        h2{
            font-family: 'Open Sans';
            font-size: 30px;
            font-weight: 400;
            color: #222;
            text-align: right;
            margin-right: 7%;
            margin-bottom: 0px;
            margin-top: 0px;
        }
        p{
            font-family: 'Open Sans';
            color: black;
            font-size: 16px; 
            font-weight: 100;
            text-align: right;
            margin-right: 7%;
            margin-top: 5px;
        }
    }
}