$primaryColor: black;
$accentColor: #5b505a;

$lightestGreen: rgba(176, 204, 199, .3);

$lightGreen: #b0ccc7;
$maroon: #4F3338;

$darkGreen: #0e4f49;
$darkPink: #F1B0B6;

$darkestGreen:#051e1c;
$darkestPink: #FAE1E3;

$alternatePink: #cb9398;

$cream: #f7f3e7;