
@import "colors";

@font-face {
  font-family: "Quentin";
  src: url("/fonts/Quentin.otf") format("opentype"),
}

@font-face {
  font-family: "WildYouth";
  src: url("/fonts/WildYouth/WildYouth-Regular.otf") format("opentype"),
}


body h1 {
    color: $accentColor;
    font-family: 'Cormorant Garamond';
    font-weight: 100;
    font-size: 60px;
    margin-top: 90px;
    text-align: center;
}
body h2{  
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 35px;
}

body h3{
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 25px;
}

body p{
  text-align: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 18px;
}


body a{}
body a:hover{}


.App {
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: $primaryColor;
}
