@import "../../styles/colors";


.about-me{ 
    // background: linear-gradient(180deg, rgba(0,0,0, 0.6) 10%, transparent 80%), url("/img/rafting.jpg"); 
    // background: linear-gradient(120deg, rgba(255,255,255, 0.75) 49%, transparent 49%), url("/img/rafting.jpg");
    background: linear-gradient(120deg, rgba(0, 0, 0, 0.7) 50%, transparent 50%), url(/img/rafting.jpg);
    background-size: cover;
    opacity: 0.9;
    position: fixed;
    // overflow-y: scroll;
    height:100vh;
    width: 100%;
    .about-me-text{
        padding-left: 40px;
        padding-right: 800px;
        h1 {
            color:$lightGreen;
            margin-bottom:30px;
            margin-top:90px;
            font-size: 60px;
        }
        .about-me-content{
            display: block;
            margin:auto;
            margin-top: 20px;
            // padding-left: 250px;
            // padding-right: 250px;
            p{
                color:white;
                text-align: justify;
                font-size: 18px;
                font-weight: 300;
                strong{
                    font-weight: 400;
                }
            }
            h3{
                font-family: 'Cormorant Garamond', serif;
                font-size: 35px;
                line-height: 50px;
                margin-top:30px;
                margin-bottom: 30px;
                margin-left:50px;
                margin-right:100px;
                text-align: center;
            }
            hr{
                border-top: none;
            }
            .para3{
                padding-right: 170px;
            }
        }
    }
    .mission{
        position:fixed;
        right:1%;
        bottom:10px;
        color: white; 
        font-family: 'Cormorant Garamond', serif;
        h2{
            font-family: 'Cormorant Garamond';
            font-weight: 300;
            font-size: 50px;
            margin-bottom: 0px;
        }
        h3{
            font-family: 'Cormorant Garamond', serif;
            font-size: 40px;
            margin-top:0px;
            margin-left:40px;
            margin-bottom:0;
        }
    }
}