@import "../../styles/colors";


.about-me{ 
    // background: linear-gradient(180deg, rgba(0,0,0, 0.6) 10%, transparent 80%), url("/img/rafting.jpg"); 
    // background: linear-gradient(120deg, rgba(255,255,255, 0.75) 49%, transparent 49%), url("/img/rafting.jpg");
    background: linear-gradient(120deg, rgba(0, 0, 0, 0.6) 50%, transparent 52%), url(/img/rafting.jpg);
    background-size: cover;
    opacity: 0.9;
    position: fixed;
    // overflow-y: scroll;
    height:100vh;
    width: 100%;
    .about-me-text{
        padding-left: 40px;
        padding-right: 850px;
        h1 {
            color:$lightGreen;
            margin-bottom:10px;
            margin-top:130px;
            font-size: 60px;
        }
        .about-me-content{
            display: block;
            margin:auto;
            margin-top: 20px;
            // padding-left: 250px;
            // padding-right: 250px;
            p{
                color:white;
                text-align: justify;
                font-size: 18px;
                font-weight: 300;
                padding-top: 20px;
                line-height: 26px;;
                strong{
                    font-weight: 400;
                }
            }
            hr{
                border-top: none;
            }
            .para3{
                padding-top: 20px;
                padding-right: 50px;
            }
        }
        .quote{
            position: absolute;
            left: 63%;
            top: 75%;
            h3{
                font-family: 'Cormorant Garamond', serif;
                font-size: 32px;
                font-weight: 700;
                line-height: 47px;
                margin-top:0px;
                margin-bottom: 0px;
                margin-left:0px;
                margin-right:0px;
                text-align: left;
            }
            h4{
                font-family: 'Cormorant Garamond', serif;
                font-size: 22px;
                line-height: 30px;
                margin-top: 5px;
                margin-left: 30px;
                text-align: left;
            }
        }
    }
    .mission{
        display: none;
        position:fixed;
        right:4%;
        bottom:5px;
        color: white; 
        font-family: 'Cormorant Garamond', serif;
        h2{
            font-family: 'Cormorant Garamond';
            font-weight: 300;
            font-size: 45px;
            margin-bottom: 0px;
        }
        h3{
            font-family: 'Cormorant Garamond', serif;
            font-size: 35px;
            margin-top:0px;
            margin-left:40px;
            margin-bottom:0;
        }
    }
}


// phones: 0-767
@media (max-width: 768px) {
    .about-me{ 
        overflow-y: scroll;
        overflow-x: hidden;
        .about-me-text{
            padding-right: 50px;
            h1{
                text-align: left;
                line-height: 60px;
                margin-top:30%;
            }
            .quote{
                position: relative;
                left: 22%;
                padding-top: 20px;
                h3{
                    font-size: 18px;
                    line-height: 32px;
                }
                h4{
                    font-size: 16px;
                }
            }
        }
    }
}


// TABLET: 768-1023
@media (min-width: 768px) and (max-width: 1023px) {
    .about-me{ 
        .about-me-text{
            h1{
                margin-top:20%;
            }
            .quote{
                position: relative;
                left: 20%;
                padding-top: 60px;
                h3{
                    font-size: 36px;
                    line-height: 40px;
                }
                h4{
                    font-size: 16px;
                }
            }
        }
    }
}