@import "../../styles/colors";



.about{ 
    background: linear-gradient(120deg, rgba(255,255,255, 0.8) 50%, transparent 50%), url("/img/rafting.jpg");
    // background-image: url("/img/rafting.jpg");
    background-size: cover;
    opacity: 0.9;
    position: fixed;
    height:100vh;
    width: 100%;
    h1 {
        color:black;
        margin-bottom:30px;
        margin-top:80px;
    }
    .about-content{
        width: 800px;
        // margin: auto;
        margin-top: 150px;
        p{
            color:black;
            text-align: left;
            font-size: 20px;
            font-weight: 300;
            padding-right:120px;
            padding-left: 50px;
            margin: auto;
            line-height: 27px;
            strong{
                font-weight: 400;
            }
        }
        hr{
            border-top: none;
        }
        ul{
            list-style-type: none; 
            font-size: 20px;
            font-weight: 300;
            text-align: center;
            padding-left:100px;
            padding-right: 100px;
            margin-bottom: 10px;
            li{
                line-height: 10px;
            }
        }
    }
    .mission{
        position:fixed;
        left:30px;
        bottom: 0px;
        // color: $accentColor; 
        color: black; 
        // color:rgba(28, 93, 105,0.5);
        h2{
            font-family: 'Cormorant Garamond';
            font-weight: 400;
            font-size: 43px;
            margin-bottom: 0px;

        }
        h3{
            font-family: 'Cormorant Garamond', serif;
            font-weight: 400;
            font-size: 35px;
            margin-top:0px;
            margin-left:40px;
        }
    }
    .about-me-link{
        position:fixed;
        right:200px;
        bottom: 100px;
        h2{
        font-weight: 300;
        color:white;
        text-decoration: underline;
        }
    }
    .column {
        width: 40%;
        display: inline-block;
    }
    .diary-icon {
        text-align: center;
        width: 110px;
        height: 110px;
        margin: auto;
        // background: rgba(40,40,40,0.6);
        border-radius: 100%;
        position: relative;
        text-align: center;
        i {
            color:$accentColor;
            // color: rgba(0,0,0,0.8);
            // color:rgb(28, 93, 105);
            font-size: 50px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}