@import "../../styles/colors";


// make navbar white on this page

.about{ 
    background: linear-gradient(180deg, rgba(0,0,0, 0.4) 40%, transparent 90%), url("/img/rafting.jpg");
    // rgba(255,255,255, 0.4) 60%, rgba(255,255,255, 0.2) 70%,
    // maybe add white layer over top or clip the blacks. Change the nav bar to >?
    background-size: cover;
    // opacity: 0.8;
    position: fixed;
    height:100vh;
    width: 100%;
    h1 {
        color:white;
        margin-bottom:40px;
    }
    .about-content{
        position: fixed;
        p{
            color:white;
            text-align: justify;
            font-size: 24px;
            padding-right:70px;
            padding-left:70px;
        }
        hr{
            border-top: none;
        }
    }
    .mission{
        position:fixed;
        left:50px;
        bottom: 40px;
        color: white; 
        font-family: 'Cormorant Garamond', serif;
        h2{
            font-family: 'Cormorant Garamond';
            font-weight: 300;
            font-size: 50px;
            margin-bottom: 0px;

        }
        h3{
            font-family: 'Cormorant Garamond', serif;
            font-size: 40px;
            margin-top:0px;
            margin-left:40px;
        }
    }
}