@import "../../styles/colors";

.about{ 

    // background: linear-gradient(121deg, rgba(255,255,255, 0.8) 48.5%, transparent 48.5%), url("/img/rafting.jpg");
    // background: linear-gradient(180deg, rgba(0,0,0, 0.4) 10%, rgba(0,0,0, 0.2) 60%), url("/img/rafting.jpg");
    // background: linear-gradient(120deg, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.2) 52%), url(/img/rafting_cinematic-1.jpg);
    background: linear-gradient(120deg, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.2) 52%), url(/img/desktop_cinematic_60.jpg);
    position: absolute; 
    background-size: cover;
    overflow-x: hidden;
    // position: fixed;
    height:100vh;
    width: 100%;
    // h1 {
    //     margin-bottom:30px;
    //     margin-top:80px;
    // }
    .social-links{
        display:none;
        text-align: left;
        position: fixed;
        bottom:10px;
        right: 20px;
        i{
            color:white;
            font-size:18px;
            padding: 15px;
            padding-bottom:15px;
        }
    }
    .about-content{
        width: 900px;
        // margin: auto;
        margin-top: 80px;
        p{
            // color:black;
            color:white;
            text-align: left;
            font-size: 18px;
            font-weight: 300;
            padding-right:155px;
            padding-left: 40px;
            padding-top: 10px;
            margin: auto;
            line-height: 27px;
            margin-bottom:50px;
            strong{
            font-weight: 500;
            }
            a{
                // color:black;
                color:white;
            }
        }
        .para3{
        padding-right:220px;
        margin-bottom: 20px;
        }
        .post-icons{
            display: flex;
            margin:auto;
            // padding-top:10px;
            padding-left: 150px;
            padding-right:0px;
            text-align: center;
            h3{
                // color:$darkGreen;
                color: white;
                margin-bottom:0px;
                padding-left:0px;
                text-align:center;
                text-decoration: underline;
            }
            .blog-post-text{
                font-size:16px;
                text-align: center;
                margin:auto;
                margin-top:0px;
                margin-bottom:10px;
                padding-left:0px;
                padding-right:0px;
                line-height:20px;
                padding-top: 5px;
            }
            i {
                // color:$darkGreen;
                color: white;
                font-size: 40px;
                padding-top: 10px;
            }
            .photo-diaries-link{
                margin-right: 7%;
            }
        }
        .about-me-link{
            position: absolute;
            right: 16%;
            bottom: 3%;
            a{
            font-family: 'Cormorant Garamond';
            font-weight: 100;
            // font-size: 50px;
            font-size: 1.5em;
            color:white;
            // color: $lightGreen;
            text-decoration: underline;
            }
        }
    }

    .mission{
        // z-index: -1;
        position: relative;
        left: 23%;
        top: 50px;
        // color: $darkGreen;
        color: white;
        // color: black;
        // color:rgba(28, 93, 105,0.5);
        h2{
            font-family: 'Cormorant Garamond';
            font-weight: 500;
            font-size: 40px;
            margin-bottom: 0px;
        }
        h3{
            font-family: 'Cormorant Garamond', serif;
            font-weight: 400;
            font-size: 35px;
            line-height: 30px;
            margin-top:0px;
            margin-left:40px;
        }
    }
    // .footer-links{
    //     display:none;
    // }
}



// PHONE
@media (max-width: 699px){
    .about{
        position: unset;
        height: 150vh;
        // background: linear-gradient(180deg, rgba(255,255,255, 0.2) 10%, rgba(0,0,0, 0.4) 30%, rgba(0,0,0, 0.5) 60%), url("/img/rafting.jpg");
        // position: relative;
        overflow-y: scroll;
        .mission{
            color:$lightGreen;
            opacity: 0.7;
            margin-top: 15%;
            margin-left: 0%;
            h2{
                font-size: 25px;
                margin-left: 21%;
                margin-right: 25%;
                margin-bottom: 0px;
                line-height: 25px;
            }
            h3{
                font-weight: 300;
                font-size: 15px;
                margin-top:0px;
                margin-left: 30%;
                line-height: 25px;
            }
        }
        .about-content{
            width:100%;
            margin-top: 40%;
            p{
                color: white;
                font-size: 14px;
                padding-top:10px;
                padding-right: 30px;
                padding-left: 30px;
                margin-bottom: 10px;
                text-align: justify;
            }
            .opp-aim{
                padding-left:30px;
                display: table;
                padding-top: 10px;
                padding-left: 0px;
                text-align: center;
                font-weight: bold;
            }
            .para2{
                padding-right: 30px;
                padding-top: 5px;
                font-size: 14px;
            }
            .para3{
                color: white;
                padding-right: 30px;
                padding-left: 30px;
                // padding-top: 200px;
                font-size: 14px;
                a{
                    color:white;
                }
            }
            .post-icons{
                padding-left: 7%;
                padding-right: 5%;
                padding-top: 10px;
                h3{
                    color:white;
                    margin-bottom: 10px;
                }
                p{
                    color:white;
                }
                .photo-diaries-link{
                    margin-right: 10%;
                    h3{
                        font-size: 24px;
                    }
                    .diary-icon{
                        i{
                            margin-top: 20px;
                            color:white;
                        }
                    }
                }
                .blog-post-link{
                    // margin-top: 35px;
                    h3{
                        font-size: 24px;
                    }
                    .blog-icon{
                        i{
                            margin-top: 20px;
                            color:white;
                        }
                    }
                }
            }
            .about-me-link{
                position: relative;
                padding-top: 80px;
                padding-bottom: 100px;
                left:50%;
                transform: translate(-50%);
                width: 100%;
                text-align: center;
            }
        }  
    }
}


// // Small TABLET: 700-800
@media (min-width: 700px) and (max-width: 800px) {
    .about{
        .mission{
            top: 12%;
        }
        .about-content{
            margin-top: 35%;
            margin-right: 0px;
            width: 100%;
            p{
                font-size: 16px;
                margin-right: 10%;
                padding-right: 0px;
                margin-left: 3%;
                margin-bottom: 10px;
            }
            .opp-aim{
                display: table;
                padding-top: 30px;
                padding-left: 50px;
                padding-right: 0px;
                text-align: center;
                font-weight: bold;
                margin-bottom: 30px;
            }
            .para2{
                margin-right: 10%;
                padding-right: 0px;
                margin-left: 3%;
                padding-top: 0px;
                font-size: 14px;
                margin-bottom: 10px;
            }
            .para3{
                color: white;
                margin-right: 10%;
                padding-right: 0px;
                margin-left: 3%;
                margin-top: 0px;
                font-size: 14px;
            }
            .post-icons{
                padding-left: 15%;
                padding-right: 5%;
                padding-top: 5%;
                h3{
                    margin-bottom: 10px;
                }
                .photo-diaries-link{
                    margin-right: 10%;
                    .diary-icon{
                        i{
                            margin-top: 20px;
                        }
                    }
                }
                .blog-post-link{
                    .blog-icon{
                        i{
                            margin-top: 20px;
                        }
                    }
                }
            }
            .about-me-link{
                position: relative;
                margin-top: 12%;
                padding-bottom: 50px;
                left:37%;
                transform: translate(-50%);
                text-align: center;
            }
        }  
    }
}
// // Large TABLET: 801
@media (min-width: 801px) and (max-width: 1100px) {
    .about{
        .mission{
            top: 9%;
        }
        .about-content{
            margin-top: 30%;
            width: 100%;
            p{
                font-size: 22px;
                line-height: 32px;
                margin-left: 3%;
            }
            .opp-aim{
                font-size: 24px;
                display: table;
                padding-top: 40px;
                padding-left: 50px;
                padding-right: 0px;
                text-align: center;
                font-weight: 500;
                margin-bottom: 30px;
            }
            .para2{
                // margin-right: 10%;
                // padding-right: 0px;
                // margin-left: 3%;
                padding-top: 0px;
                font-size: 22px;
                line-height: 32px;
                margin-bottom: 40px;
            }
            .para3{
                margin-right: 15%;
                padding-right: 0px;
                margin-left: 3%;
                font-size: 22px;
                line-height: 32px;
            }
            .post-icons{
                padding-left: 15%;
                padding-right: 5%;
                padding-top: 7%;
               
                h3{
                    margin-bottom: 10px;
                    font-size: 34px;
                }
                .photo-diaries-link{
                    margin-right: 12%;
                    p{
                        font-size: 24px;
                        line-height: 28px;
                    }
                    .diary-icon{
                        i{
                            margin-top: 20px;
                            font-size: 44px;
                        }
                    }
                }
                .blog-post-link{
                    p{
                        font-size: 24px;
                        line-height: 28px;
                    }
                    .blog-icon{
                        i{
                            margin-top: 20px;
                            font-size: 44px;
                        }
                    }
                }
            }
            .about-me-link{
                position: relative;
                margin-top: 12%;
                padding-bottom: 50px;
                left:37%;
                transform: translate(-50%);
                text-align: center;
            }
        }  
    }
}
