@import "../../styles/colors";

#stone-paper-about{
    position: absolute;
    // height: 200vh;
    overflow-y: scroll;
    width: 100%;
    overflow: hidden;
    // .stone-paper-background{
    // position: absolute;
    // background: url("/img/rafting.jpg");
    // background: linear-gradient(123deg, rgba(0, 0, 0, 0.8) 53%, transparent 53.5%), url(/img/rafting.jpg);
    // background-size: cover;
    // opacity: 0.8;
    // }
    .stone-paper-header{
        h1{
           position: relative;
        //    left: 20px;
           color:$darkGreen;
           font-size: 50px;
           text-align: left;
           left:45px;
           margin-bottom:0px;
           margin-top: 110px;
        }
        h2{
            position: relative;
            text-align: left;
            left: 65px;
            color:$darkGreen;
            font-size: 25px; 
            font-family: "Cormorant Garamond"; 
            font-weight: 100;
            font-style: italic; 
            margin-top:0px;
            margin-bottom: 0px;
        }
        .postcard-images{
            position: relative;
            display: block;
            // padding-top: 10px;
            .image{
                position: relative;
                a{
                    img{
                        // padding: 10px;
                        width: 50%;
                    }
                    p{
                        color:black;
                        position: absolute;
                        bottom: 90px;
                        left: 200px;
                    }
                }
            }
           
        }
    } 


    .stone-paper-body{
        margin-bottom: 50px;
        h3{
            color:$darkGreen;
            position: relative;
            left:45px;
            // margin-right:800px;
            margin-top:0px;
            text-align: left;
        } 
        p{
           color:black;
           position: relative;
           left:40px;
           margin-right: 150px;
           text-align: left;
        }
        ul{
            color:black;
            position: relative;
        }
        li{
            color:black;
            position: relative;
            left:40px;
        }
        hr{
            display:none;
            left:40px;
        }
        i{
            padding-left:10px;
        }
    }
}


// phones: 0-768
@media (max-width: 768px){
    #stone-paper-about{
        overflow-y: scroll;
        .stone-paper-header{
            h1{
                position: relative;
                left: 20px;
                // color:white;
                font-size: 30px;
                text-align: left;
                margin-bottom:0px;
                padding-right: 50px;
             }
            h2{
                position: relative;
                text-align: left;
                left: 12%;
                padding-right:50px;
                margin-top: 10px;
                margin-bottom:0px;
                // color:white;
                font-size: 20px; 
                line-height: 25px;
            }
            .postcard-images{
                position: relative;
                display: block;
                // left: 10%;
                a{
                    img{
                        width: 110%;
                        padding: 0;
                    }
                }
            }
        }
        // a{ 
        //     // font-size: 20px; 
        //     // line-height: 30px;
        //     top:23.5%;
        //     position: absolute;
        // }
        .stone-paper-body{
            h3{
                left:40px;
                margin-right: 80px;
                margin-top:60px;
                margin-bottom:5px;
                text-align: left;
                font-size: 20px;
            } 
            p{
            //    color:white;
               position: relative;
               left:40px;
               margin-right:80px;
               text-align: left;
               font-size: 16px;
            }
            ul{
                // color:white;
                position: relative;
                margin-right:80px;
            }
            li{
                // color:white;
                position: relative;
                left:40px;
            }
            hr{
                display:none;
                left:40px;
            }
        }
    }
}


// iPhone X: 800-850  
@media (min-height: 800px) and (max-height: 850px) {
    #stone-paper-about{
        .stone-paper-header{
            // .etsy-link{ 
            //     font-size: 20px; 
            //     line-height: 30px;
            //     top:20%;
            // }
        }
    }
}

// TABLET: 768-1024
@media (min-width: 768px) and (max-width: 1024px) {
    #stone-paper-about{
        // height: 100%;
        overflow-y: scroll;
        .stone-paper-body{
            h3{
                padding-bottom: 20px;
            }
            p{
                margin-right: 80px;
                // margin-left:30px;
                padding-bottom: 20px;
            }
        }
    }
}