#stone-paper-about{
    position: absolute;
    height: 150vh;
    width: 100%;
    overflow: hidden;
    .stone-paper-background{
    position: absolute;
    // background: url("/img/rafting.jpg");
    background: linear-gradient(120deg, rgba(0, 0, 0, 0.8) 50%, transparent 50%), url(/img/rafting.jpg);
    background-size: cover;
    height: 150vh;
    width: 100%;
    opacity: 0.8;
    }
    .stone-paper-header{
        h1{
           position: relative;
           left: 20px;
           color:white;
           font-size: 50px;
           text-align: left;
           margin-bottom:0px;
        }
        h2{
            position: relative;
            text-align: left;
            left: 40px;
            color:white;
            font-size: 25px; 
            font-family: "Cormorant Garamond"; 
            font-weight: 100;
            font-style: italic; 
            text-align: left;
            margin-top:0px;
        }
    } 
    .etsy-link{ 
        font-size: 25px; 
        line-height: 35px;
        text-align: center;
        color: black; 
        position: absolute;
        top: 55%;
        right:1%;
        &:hover{
            color:#cdcdcd;
        }
        background-color: white;
        border: 2px solid #ffffff;
        border-radius: 25px;
        padding:10px;
    }
    .stone-paper-body{
        h3{
            color:white;
            position: relative;
            left:40px;
            margin-right:800px;
            margin-top:45px;
            text-align: left;
        } 
        p{
           color:white;
           position: relative;
           left:40px;
           margin-right:800px;
           text-align: left;
        }
        ul{
            color:white;
            position: relative;
        }
        li{
            color:white;
            position: relative;
            left:40px;
        }
        hr{
            display:none;
            left:40px;
        }
    }
}