@import "../../styles/colors";

body .mdl-layout{
    height: 100px;
    width: 100%;
    color: $primaryColor;

    .mdl-navigation__link{
        color: $primaryColor;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
    }
    .header-title{
        color:$primaryColor;
        font-family: "Quentin";
        font-size: 55px;
        text-decoration: none;
        position: fixed;
        left:15px;
        top:9px;
    }
    p{
        color: $accentColor;
        font-family: 'Quentin';
        font-size: 15px;
        position: fixed;
        left:20px;
        top:44px;
        word-spacing: 20px;
    }

    // .logo{
    //     position: fixed;
    //     left:190px;
    //     top:0px;
    //     height: 80px;
    //     width: 80px;
    // }

    .social-links {
        text-align: left;
        position: fixed;
        top:0px;
        left:200px;
        i{
            color: $accentColor;
            font-size:22px;
            padding: 20px;
            padding-bottom:15px;
        }
    }

    // need to fix the function
    .search{
        color:$accentColor;
    }
}
