@import "../../styles/colors";


// Various navbar hider modes
body.green-title .mdl-layout .mdl-layout__inner-container{
    .header-title{
        color: $darkGreen;
        position: fixed;
        text-decoration: none;
        left:20px;
        top:6px;
    }
    .mdl-layout__drawer-button i{
        color: $darkGreen;
    }
    .mdl-navigation__link{
        color: $darkGreen;
        // position: relative;
        // font-size: 16px;
        // font-family: 'Open Sans', sans-serif;
    }
}

body.white-drawer .mdl-layout .mdl-layout__inner-container{
    .mdl-layout__drawer-button i{
        color: white;
    }
}

body.hamburger-mode .mdl-layout .mdl-layout__inner-container {
    .mdl-layout__drawer-button {
        display: block;
    }
    .mdl-layout__header .mdl-navigation__link {
        display: none;
    }
}

body.hide-title .mdl-layout .mdl-layout__inner-container {
    .mdl-layout__header .header-title{
        display:none;
    }
}


// Regular Navbar css
body .mdl-layout .mdl-layout__inner-container{
    .mdl-layout__header.mdl-layout__header--transparent.is-casting-shadow{
        background: rgba(255,255,255,0.8);
        position:fixed;
    }
    .mdl-navigation__link{
        position: relative;
        color: black;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        .drawer-nav{
            padding-top:80px;
        }
        // need to fix the function
        .mdl-textfield__label:after{
            background-color: $darkGreen;
            height:1.5px;
        }
    }
    .search{
        color:black;
        // color: #4d5d54;
        i {
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-size: 16px;
            font-variant: normal;
            text-rendering: auto;
            font-weight: 900;
            line-height: 1.5;
            font-family: "Font Awesome 5 Pro";
            &:before {
                content: "\f002";
            }
        } 
    }
    .header-title{
        position: fixed;
        color: black;
        font-family: "Quentin";
        font-size: 50px;
        text-decoration: none;
        left:20px;
        top:6px;
    }
    .mdl-layout__drawer-button{
        color: black;
        z-index: 4;
        left: auto;
        right:30px;
        top:15px;
        display: none;
        position: absolute;
        margin: 8px 12px;
        cursor: pointer;
        width: 48px;
        border:none;
        i{
            color:black;
            font-size: 40px;   
        }
    }
}

// Responsive Design

// PHONE: 0-450
@media (max-width: 450px) {
    // ned to fx this so the transparent header layer stays there
    body .mdl-layout .mdl-layout__inner-container {  
        .mdl-layout__drawer-button {
            display: block;
            position:fixed;
            top:0px;
            right: 0px;
            color:$darkGreen;
            // margin:0px;
        }
        .mdl-layout__header{
            display:block;
            .header-title{
                display:block;
                left:15px;
                top:2px;
                position: fixed;
            }
            .header-nav{
                display:none;
            }
            a:hover {
                // color: black;
              }
        }
    }
}

// PHONE: 0-768 
// @media (max-width: 768px) {


// TABLET: 769-1024
@media (min-width: 451px) and (max-width: 1024px) {
    body .mdl-layout .mdl-layout__inner-container {  
        .mdl-layout__drawer-button {
            display: block;
            position:fixed;
            top:7px;
            right: 25px;
            color:$darkGreen;
            i{
                font-size:65px;
            }
        }
        .mdl-layout__drawer-button:focus{
                outline:none;
        }
        .mdl-layout__header{
            display:block;
            .header-title{
                display:block;
                left:25px;
                top:7px;
                position: fixed;
                font-size:67px;
            }
            .header-nav{
                display:none;
            }
            a:hover {
                color: black;
              }
        }
        .mdl-navigation__link{
            font-size: 18px;
            line-height: 50px;
            padding-left: 20px;
        }
        .mdl-layout__drawer.is-visible{
            width: 270px;
            .mdl-layout-title{
                padding-top: 18px;
            }
            .header-title {
                left:20px;
                top:20px;
                font-size:67px;
                // color:red;
            }
        }
    }
}

// // TABLET LANDSCAPE / SMALL NOTEBOOKS: 1025: 1376
@media (min-width: 1025px) and (max-width: 1376px) {
    body .mdl-layout .mdl-layout__inner-container { 
        .mdl-layout__header{
            display:block;
            .header-title{
                display:block;
                left:25px;
                top:7px;
                position: fixed;
                font-size:67px;
            }
            .mdl-navigation__link{
                font-size: 18px;
                padding-left: 20px;
                padding-top: 5px;
            }
        }
        .mdl-button .mdl-js-button .mdl-button--icon{
            padding-top: 5px;
        }
        .search i{
            font-size: 20px;
            // padding-top: 2px;
        }
    }
}