@import "../../styles/colors";

.posts-slideshow {
    height: 100%;
    .image-layer {
        transition: opacity 0.7s;
        position: absolute;
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity: 0;
        &.inactive-layer {
            z-index: -1;
        }
        &.active-layer {
            opacity: 1;
            .photo-diary-title {
                z-index: 10;
            }
        }
        .photo-diary-text {
            position: absolute;
            right:50px;
            bottom:200px;
            .photo-diary-title{
                h3{
                    margin-top:5px;
                    margin-bottom:5px;
                    font-weight: 400;
                    font-size: calc(10px + 2vmin);
                    color: white;
                }
            }
        }
    }
    .post-numbers-text{
        position: fixed;
        bottom:40px;
        left:30px;
        h1{
            font-size: 20px;
            color:white;
        }
    }
    .posts-numbers{
        position: fixed;
        bottom:20px;
        left:30px;
        display: flex;
        color:white;
        margin:auto;
        .number-container {
            background-color: white;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            margin-right: 15px;
            &.active h4{
                color:red;
            }
        }

        h4{
            width: 100%;
            text-align: center;
            margin-top: 5px;
            color:black;
        }

        h4:hover {
            cursor: pointer;
            color:grey;
        }
    }
}