
.footer-links {
    text-align: left;
    position: fixed;
    bottom:5px;
    left:10px;
    i{
        color: white;
        font-size:22px;
        padding: 20px;
        padding-bottom:15px;
    }
}


// a {
//     color: black;
    
//     &.red {
//         color: red;
//     }
// }