@import "../../styles/colors";

#blogs-page{
        background: linear-gradient(180deg, rgba(91, 80, 90, 0.3) 10%, rgba(91, 80, 90, 1)60%);
        position: fixed;
        height:100vh;
        width: 100%;
        
        h1{
            margin-bottom: 0px;
        }
        h3{
            color: $accentColor;
            text-align: center;
            margin-top:0px;
            font-size: 22px;
        }


        .scroll-button-right {
            font-size:70px;
            color: rgba(255,255,255,0.8);
            // text-shadow: 5px 5px 5px black;
            position: fixed;
            right: 20px;
            top: 50%;
            z-index:2;
            &:hover {
                cursor: pointer;
            }
            &.disabled-arrow {
                display: none;
            }
        }
        .scroll-button-left {
            font-size:70px;
            color: rgba(255,255,255,0.8);
            // text-shadow: 5px 5px 5px black;
            position: fixed;
            left: 20px;
            top: 50%;
            z-index:2;
            &:hover {
                cursor: pointer;
            }
            &.disabled-arrow {
                display: none;
            }
        }

        .blog-container{
            scroll-behavior: smooth;
            transition-duration: 100ms;
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            align-items: center;
            justify-content: space-between;
            // height: calc(100% - 270px);
            height: calc(100% - 210px);
            width:100%;
            &:after {
                content: '';
                flex: 0 0 1px;
                height: 1px;
            }
            &::-webkit-scrollbar {
                width: 5px;
                height:15px;
            }    
            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1);
                // border-radius: 10px;
                }
            &::-webkit-scrollbar-thumb {
                  background-color: #333;
                  border-radius: 10px;
                //   outline: 20px solid black;
                }
            .post-container {
                background-size: cover;
                position: relative;
                width: calc(25% - 40px);
                height: 100%;
                margin: 20px;
                margin-bottom: 70px;
                flex: 0 0 auto;
                text-decoration: none;
                opacity: 1;
                &:hover{
                    opacity: 0.8;
                    transition: opacity .15s ease-in-out;
                    // transition: padding .15s ease-in-out;
                }
                a.background-link {
                    width: 100%;
                    position: absolute;
                    height: 100%;
                }
                img {
                    // position: relative;
                    height:400px;
                    width: 300px;
                }
                .text-container{
                    // background-color: rgba(91, 80, 90, 1);
                    // opacity: 1;
                    // background-color: black  ;
                    position: absolute;
                    bottom:0;
                    width: 100%;
                    // padding-bottom:5px;
                    background-color: rgba(0,0,0,0.6);
                    height: 80px;
                    .post-title{
                        font-family: 'Open Sans', sans-serif;
                        font-weight: 100;
                        font-size: 25px;
                        text-align: center;
                        color:white;
                        line-height: 40px;
                        text-decoration: none;
                        width: calc(100% - 30px);
                        padding: 5px;
                        padding-left:15px;
                        padding-right:15px;
                        margin:auto;
                        position: bottom;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        max-height: 80px;
                    }
                    .post-date{
                        text-align: left;
                        color:white;
                        font-family: 'Open Sans', sans-serif;
                        font-weight: 100;
                        font-size: 10px;
                        padding-left: 15px;
                        height:10px;
                        margin-top:0px;
                        margin-bottom:0px;
                        padding-bottom: 0px;
                    }
                    .post-categories{
                        text-align: left;
                        color:white;
                        font-family: 'Open Sans', sans-serif;
                        font-weight: 100;
                        font-size: 12px;
                        padding-left: 15px;
                        padding-top: 20px;
                        padding-bottom:0px;
                        height:20px;
                        span{
                            // padding-left:10px;
                            padding-right:10px;
                        }
                    }
                }
            }
        }
}

// PHONE: 0-450
@media (max-width: 450px) {
    #blogs-page{
        h1{
            font-size: 50px;
            margin-top:15%;
        }
        h3{
            margin-bottom:0px;
        }
        .blog-container{
            flex-direction: column;
            overflow-x: hidden;
            overflow-y: auto;        
            .post-container{
                width:calc(90% - 40px);
                .text-container{
                    height: 25%;
                    .post-title{
                        top:45%;
                        font-size:20px;
                        line-height: 30px;
                        max-height: 200px;
                    } 
                }
            }
        }
        .scroll-button-right{
            display:none;
        }
        .scroll-button-left{
            display:none;
        }
    }    
}       

// // PHONE LANDSCAPE: 451-767
@media (min-width: 451px) and (max-width: 767px) {
    #blogs-page{
        .blog-container{
            flex-direction: column;
            overflow-x: hidden;
            overflow-y: auto;    
            height: 100%;    
            .post-container{
                width:calc(85% - 40px);
                height: 100%;
                .text-container{
                    height: 25%;
                    .post-title{
                        top:45%;
                        font-size:20px;
                        line-height: 30px;
                        max-height: 200px;
                    }
                }
            }
        }
    }
}


// TABLET: 769-1024
@media (min-width: 768px) and (max-width: 1024px) {
    #blogs-page{
        // body h1{
        //     font-size: 40px;
        // }
        .blog-container{
            flex-direction: column;
            overflow-x: hidden;
            overflow-y: auto;        
            .post-container{
                width:calc(90% - 40px);
                .text-container{
                    height: 25%;
                    .post-title{
                        top:45%;
                        font-size:50px;
                        line-height: 60px;
                        max-height: 200px;
                    }
                }
            }
        }
        .scroll-button-right{
            display:none;
        }
        .scroll-button-left{
            display:none;
        }
    }   
}
