@import "../../styles/colors";


// .mdl-layout__inner-container{
    #blog-detail{
        position: absolute;
        width: 100%;
        overflow-x: hidden;
        // background: linear-gradient(180deg, rgba(91, 80, 90, 0.2) 50%, rgba(91, 80, 90, 1)50%);
        background: cover;
        .blog-title{
           h1{
                position: relative;
                left:50%;
                transform: translate(-50%);
                color:$accentColor;
                padding-top:4%;
                padding-bottom:2%;
            } 
            .post-date{
                position:relative;
                color:black;
                left:23%;
                font-size:20px;
                margin-bottom:0px;
            }
            .post-categories{
                position: relative;
                left:23%;
                a{
                color:black;
                margin-right:10px;
                font-size:16px;
                }
            }
        }
        // .blog-feature-image{
        //         position:absolute;
        //         width: 20%;
        //         margin: auto;
        // }
        .blog-content{
            padding-left:20%;
            padding-right:20%;
            padding-top:2%;
            h2{
                text-align:left;
                color:black;
                position: relative;
                padding-left:5%;
                padding-right:5%;
                padding-top:8%;
            }
            h3{
                color:#333;
                padding-left:5%;
                padding-right:5%;
                // padding-top:1%;
            }
            h4{
                color:#333;
                position: relative;
                padding-left:5%;
                padding-right:5%;
                padding-top:5%;
                text-align: center;
                a{
                    color:black;
                    font-weight: bold;
                }
            }
            h6{
                display:relative;
                color:#333;
                padding-left:5%;
                padding-right:5%;
                padding-bottom:2%;
                text-align: center;
                font-size: 15px;
                margin-top: 0px;
            }
            p{                
                text-align: left;
                color:black;
                position: relative;
                // padding-top:5%;
                padding-left:5%;
                padding-right:5%; 
            }
            img{
                position: relative;
                // padding-top:15%;
                width:100%;
                height: 50%;
            }
            figure{
                padding-top:15%;
                width:40%;
                height: 50%;
            }
            figcaption{
                display:none;
            }

        }
    }
// }