@import "../../styles/colors";


// .mdl-layout__inner-container{
    #blog-detail{
        width: 100%;
        overflow-x: hidden;
        // background: linear-gradient(180deg, rgba(91, 80, 90, 0.2) 50%, rgba(91, 80, 90, 1)50%);
        background: cover;
        .breadcrumbs{
            z-index: 1;
            position: relative;
            padding-top:5%;
            left: 20px;
            color: #444;
            a{
                color: #333;
            }
            a:hover{
                color:#888;
            }
            .current-page{
                color: #777;
            }
        }
        .blog-title{
           h1{
                position: relative;
                left:50%;
                transform: translate(-50%);
                color:$accentColor;
                padding-top: 4%;
                padding-bottom:0px;
                margin-bottom: 2%;
                margin-top: 0%;
                padding-left: 20%;
                padding-right: 20%;
                text-align: left;
            } 
            .post-date{
                position:relative;
                color:black;
                left:23%;
                font-size:20px;
                margin-bottom: 10px;
                margin-top: 5px;
            }
            .post-categories{
                position: relative;
                left:23%;
                a{
                color:black;
                margin-right:10px;
                font-size:16px;
                }
            }
        }
        // .blog-feature-image{
        //         position:absolute;
        //         width: 20%;
        //         margin: auto;
        // }
        .blog-content{
            padding-left:20%;
            padding-right:20%;
            padding-top:2%;
            h2{
                text-align:left;
                color:black;
                position: relative;
                padding-left:5%;
                padding-right:5%;
                padding-top:8%;
            }
            h3{
                color:#333;
                padding-left:5%;
                padding-right:5%;
                // padding-top:1%;
            }
            h4{
                color:#333;
                position: relative;
                padding-left:5%;
                padding-right:5%;
                padding-top:5%;
                text-align: center;
                a{
                    color:black;
                    font-weight: bold;
                }
            }
            h6{
                display:relative;
                color:#333;
                padding-left:5%;
                padding-right:5%;
                padding-bottom:2%;
                text-align: center;
                font-size: 15px;
                margin-top: 0px;
            }
            p{                
                text-align: left;
                color:black;
                position: relative;
                // padding-top:5%;
                padding-left:5%;
                padding-right:5%; 
            }
            img{
                position: relative;
                // padding-top:15%;
                width:100%;
                height: 50%;
            }
            figure{
                padding-top:15%;
                width:40%;
                height: 50%;
            }
            figcaption{
                display:none;
            }

        }
    }
// }



// PHONE: 0-450
@media (max-width: 450px) {
    #blog-detail{
        // position: unset;
        .breadcrumbs{
            z-index: 1;
            position: relative;
            padding-top:20%;
            left: 20px;
            color: #444;
            a{
                color: #333;
            }
            a:hover{
                color:#888;
            }
            .current-page{
                color: #777;
            }
        }
        .blog-title{
            padding-left:5%;
            padding-right:5%;
            h1{
                font-size: 40px;
                padding-top: 30px;
                margin-bottom: 5px;
                text-align: left;
                padding-left: 3%;
                padding-right: 3%;
            }
            .post-date{
                left:0%;
                margin-bottom: 5px;
                text-align: left;
                font-size: 14px;;
                padding-left: 3%;
                padding-right: 3%;
            }
            .post-categories{
                left: 0%;
                margin-bottom: 40px;
                text-align: center;
            }
        }
        .blog-content{
            padding-left: 8%;
            padding-right: 8%;
            padding-top:1%;
            h2{
                font-size: 28px;
            }
            p{
                padding:0px;
                font-size: 16px;
                text-align: justify;
                padding-top: 10px;
            }
        }
    }
}


    
// TABLET: 769-1024
@media (min-width: 451px) and (max-width: 1024px) {
    #blog-detail{
        .breadcrumbs{
            top:7%;
        }
        .blog-title{
            padding-top:5%;
            h1{
                padding-left: 13%;
                padding-right: 13%;
                text-align: left;
            }
            .post-date{
                margin-bottom: 5%;
                padding-left: 0%;
            }
        }
        .blog-content{
            padding-left:10%;
            padding-right:10%;
            padding-top:1%;
        }
        
        .post-categories{
            margin-bottom: 20px;
        }
    }
}