@import "../../styles/colors";

#blogs-page{
        background: linear-gradient(180deg, rgba(91, 80, 90, 0.2) 10%, rgba(91, 80, 90, 1)60%);
        position: fixed;
        height:100vh;
        width: 100%;

        .scroll-button {
            width: 30px;
            height: 30px;
            background: red;
            position: fixed;
            right: 20px;
            top: 100px;
        }
        .scroll-button-left {
            width: 30px;
            height: 30px;
            background: red;
            position: fixed;
            left: 20px;
            top: 100px;
        }

        .blog-container{
            scroll-behavior: smooth;
            transition-duration: 100ms;
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            align-items: center;
            justify-content: space-between;
            height: calc(100% - 270px);
            width:100%;
            &:after {
                content: '';
                flex: 0 0 1px;
                height: 1px;
            }
            .post-container {
                background-size: cover;
                position: relative;
                width: calc(25% - 40px);
                height: 100%;
                margin: 20px;
                margin-bottom: 36px;
                flex: 0 0 auto;
                text-decoration: none;
                opacity: 1;
                &:hover{
                    opacity: 0.8;
                    transition: opacity .15s ease-in-out;
                    // transition: padding .15s ease-in-out;
                }
                a.background-link {
                    width: 100%;
                    position: absolute;
                    height: 100%;
                }
                img {
                    // position: relative;
                    height:400px;
                    width: 300px;
                }
                .text-container{
                    // background-color: rgba(91, 80, 90, 1);
                    // opacity: 1;
                    // background-color: black  ;
                    position: absolute;
                    bottom:0;
                    width: 100%;
                    padding-bottom:5px;
                    .post-title{
                        color:white;
                        font-size:30px;
                        text-decoration: none;
                        width: calc(100% - 30px);
                        padding: 15px;
                        padding-bottom: 0px;
                        padding-top: 0px;
                        margin-bottom:0px;
                        margin-top:0px;
                        height:80px;
                        position: bottom;
                    }
                    .post-date{
                        text-align: left;
                        color:white;
                        font-family: 'Open Sans', sans-serif;
                        font-weight: 100;
                        font-size: 10px;
                        padding-left: 15px;
                        height:10px;
                        margin-top:0px;
                        margin-bottom:0px;
                        padding-bottom: 0px;
                    }
                    .post-categories{
                        text-align: left;
                        color:white;
                        font-family: 'Open Sans', sans-serif;
                        font-weight: 100;
                        font-size: 12px;
                        padding-left: 15px;
                        padding-top: 20px;
                        padding-bottom:0px;
                        height:20px;
                        span{
                            // padding-left:10px;
                            padding-right:10px;
                        }
                    }
                }
            }
        }
}
